<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Kovol language tools</title>
    <meta name="description" content="Simple scripts to process Kovol language data.">
    <meta name="author" content="Steve Stanley">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" type="text/css">
</head>

<body>
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static',filename='jquery/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>