<hr>
<p>This data can be filtered. Add a query to the end of the URL, for example: 
    http://localhost:5000/verbs/verb-display<strong>?end=i</strong></p>
<p>The following filters are supported:</p>

<ul class="bg-light">
    <li>end: filters by the end of the verb root</li>
    <li>start: filters by the start of the verb root</li>
    <li>contains: filters for roots containing query</li>
    <li>lv: (last vowel) filters for roots with the final vowel of the query</li>
</ul>

<p>Filters can be stacked like this: ?lv=i&start=i&end=l&contains=l</p>


<hr>